@font-face {
  font-family: "heiti2";
  src: url("../../assets/fonts/heiti2.ttf");
}

body {
  background-image: url("../../assets/images/heaven.jpg");
}

.test {
  color: red;
}

.parentgrid {
  display: grid;
  grid: repeat(3, 80px) / auto-flow;
}

.childgrid {
  background: red;
  width: 200px;
  height: 200px;
}
